{%extends 'base.html'%}
{%block content%}
<section class="main-carousel">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/img-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/img-2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="static/imgs/imgs_carousel/img-3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <!--<a href="{{url_for('cadastrar')}}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Agende sua visita</a>-->
    </div>
    
</section>

{%endblock content%}