{% extends 'base.html' %}

{% block content %}
<body>
    <div class="bg-img d-flex align-items-center justify-content-center min-vh-100">
        <div class="w-50">
            <form class="bg-white register__form border p-4 rounded" method="POST" action="{{ url_for('atualizar') }}">
                <fieldset>
                    <h1 id="title" class="text-center mb-4">Perfil</h1>
    
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{ cliente[1] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input type="text" class="form-control" id="cpf" placeholder="CPF" name="cpf" value="{{ cliente[0] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="celular" class="form-label">Celular:</label>
                        <input type="text" class="form-control" id="celular" placeholder="Celular" name="celular" value="{{ cliente[2] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço:</label>
                        <input type="text" class="form-control" id="endereco" placeholder="Endereço" name="endereco" value="{{ cliente[3] }}" required>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <a id="redirection" href="{{ url_for('dashboard') }}" class="btn btn-secondary">Voltar</a>
                        <button type="submit" class="btn btn-login">Atualizar</button>
                    </div>
                </fieldset>
            </form>
            <form action="{{ url_for('deletar_cliente', cpf=cliente[0]) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir sua conta? \nIsso apagará todas as informações de visitação, eventos, pagamentos e aluguel de mobília relacionados à você. Essa ação NÃO poderá ser desfeita.')">
                <button type="submit" class="btn btn-danger mt-3">Excluir conta</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('cpf').addEventListener('input', formatCPF);
        document.getElementById('celular').addEventListener('input', formatCelular);
        
        function formatCPF(event) {
            const input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
            value = value.substring(0, 11); // Limit to 11 digits
        
            // Format the value as CPF
            if (value.length > 9) {
                value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            } else if (value.length > 6) {
                value = value.replace(/(\d{3})(\d{3})(\d{3})/, '$1.$2.$3');
            } else if (value.length > 3) {
                value = value.replace(/(\d{3})(\d{3})/, '$1.$2');
            }
        
            input.value = value;
        }
        
        function formatCelular(event) {
            const input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
            value = value.substring(0, 11); // Limit to 11 digits
        
            // Format the value as Celular
            if (value.length > 6) {
                value = value.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
            } else if (value.length > 2) {
                value = value.replace(/(\d{2})(\d{5})/, '($1) $2');
            }
        
            input.value = value;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
{% endblock content %}