@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif !important;
  }

.navbar{
    background-color: #ffffff;
    color: #fff;
}

.navbar a{
    color: #000000;
}

.navbar a:hover {
    color: #555555
}
.carousel-1,.carousel-2,.carousel-3 {
    height: 90vh;
}
.carousel-1 {
    /* background-image: url(../static/imgs/imgs_carousel/img-1.jpg); */
    background-image: url(../imgs/imgs_carousel/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-2 {
    background-image: url(../imgs/imgs_carousel/img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-3 {
    background-image: url(../imgs/imgs_carousel/img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.teste1 {
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: flex;

}

.widht-full {
    width: 100vw;
    background-color: red;
}

.button_agendar {
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.button_agendar:hover {
    color: #d8d8d8;
}

.separador {
    color: #000000;
}

.bg-img {
    background-image: url(../imgs/imgs_carousel/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    overflow-y: hidden;
}

.btn-login {
    background-color: #d9863e;
}

.btn-login:hover {
    background-color: #f8ac69;
}

.btn-cadastre a{
    color: #d9863e;
}

.btn-cadastre a:hover{
    color: #f8ac69;
}