<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@5.11.3/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.11.3/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Salão de festas Lutilê</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Salão de festas Lutilê" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if session.cpf %}
                            {% if session.cpf == '000.000.000-00' %}
                                <li class="nav-item dropdown me-5">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ session.nome_cliente }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{{ url_for('dashboard_admin') }}">Tela inicial</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Perfil</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('agendamentos_admin') }}">Agendamentos</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('eventos_admin') }}">Eventos</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('clientes_admin') }}">Clientes</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('pagamentos_admin') }}">Pagamentos</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('kits_mobilia_admin') }}">Kits Mobília</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('parceiros_admin') }}">Parceiros</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown me-5">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ session.nome_cliente }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{{ url_for('dashboard_cliente') }}">Tela inicial</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Perfil</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('agendamentos_cliente') }}">Agendamentos</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('eventos_cliente') }}">Eventos</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ url_for('ver_parceiros_cliente') }}">Nossos parceiros</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link {{ is_active('home') }}" aria-current="page" href="{{ url_for('home') }}">HOME</a>
                            </li>
                            <span class="separador nav-link">|</span> <!-- Separador -->
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link {{ is_active('produtos') }}" aria-current="page" href="{{ url_for('produtos') }}">PRODUTOS</a>
                            </li>
                            <span class="separador nav-link">|</span> <!-- Separador -->
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link {{ is_active('servicos') }}" aria-current="page" href="{{ url_for('servicos') }}">SERVIÇOS</a>
                            </li>
                            <span class="separador nav-link">|</span> <!-- Separador -->
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link {{ is_active('contato') }}" aria-current="page" href="{{ url_for('contato') }}">CONTATO</a>
                            </li>
                            <li class="nav-item">
                                <form action="{{ url_for('login') }}" method="get">
                                    <button class="nav-link button_agendar" type="submit">Agende uma visita</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="modal{{ category }}" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        // Hide flash messages after 5 seconds
        setTimeout(function() {
            let alert = document.querySelector('.alert');
            if (alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
            }
        }, 5000);
    </script>

    <footer class="mt-4">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@5.11.3/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.11.3/main.min.js"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </footer>
</body>
</html>