{% extends "base.html" %}
{% block content %}
<h1>Agendamentos de visita</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th>Nome cliente</th>
            <th>CPF cliente</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for agendamento in todos_agendamentos %}
          <tr>
              <td>{{ agendamento.data }}</td>
              <td>{{ agendamento.horario }}</td>
              <td>{{ agendamento.nome }}</td>
              <td>{{ agendamento.cpf }}</td>
              <td>
                <form action="{{ url_for('cancelar_agendamento') }}" method="POST" onsubmit="return confirmCancel()">
                  <input type="hidden" name="data" value="{{ agendamento[0] }}">
                  <input type="hidden" name="horario" value="{{ agendamento[1] }}">
                  <button type="submit" class="btn btn-light" >Cancelar</button>
                </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<script>
  function confirmCancel() {
      return confirm("Você tem certeza que deseja cancelar este agendamento?");
  }
</script>
{% endblock %}
