{% extends 'base.html'%}
{% block content %}

<h1>Todos os clientes</h1>
<div class="container">
       
    <table class="table">
        <thead>
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Celular</th>
            <th scope="col">Endereço</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
              <td>{{ cliente[0] }}</td>
              <td>{{ cliente[1] }}</td>
              <td>{{ cliente[2] }}</td>
              <td>{{ cliente[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}