{% extends 'base.html'%}
{% block content %}

<h1 class="text-center">Todos os clientes</h1>
<div class="container d-flex flex-column align-items-center">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">CPF</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Celular</th>
            <th scope="col" class="text-center">Endereço</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          {% if cliente[0] != '000.000.000-00' %}
          <tr>
              <td class="text-center">{{ cliente[0] }}</td>
              <td class="text-center">{{ cliente[1] }}</td>
              <td class="text-center">{{ cliente[2] }}</td>
              <td class="text-center">{{ cliente[3] }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}