{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Eventos marcados</h1>
<div class="container d-flex flex-column align-items-center">
    <div class="w-100 d-flex justify-content-end mb-3">
        <a href="{{ url_for('novo_evento') }}" class="btn btn-primary">Novo evento</a>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col" class="text-center">Data</th>
            <th scope="col" class="text-center">Horário</th>
            <th scope="col" class="text-center">Cliente</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for evento in eventos %}
          <tr>
              <td class="text-center">{{ evento[2] }}</td>
              <td class="text-center">{{ evento[3] }}</td>
              <td class="text-center">{{ evento[0] }}</td>
              <td class="text-center">{{ evento[1] }}</td>
              <td class="text-center">{{ evento[6] }}</td>
              <td class="text-center">
                <a href="{{ url_for('atualizar_evento', data_evento=evento[0], horario_evento=evento[1]) }}" class="btn btn-light" role="button">Editar</a>
                <a href="{{ url_for('cancelar_evento', data_evento=evento[0], horario_evento=evento[1]) }}" class="btn btn-light" role="button">Deletar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}