{% extends "base.html" %}

{% block content %}
<h1>Meus eventos</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Horário</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for evento in eventos %}
          <tr>
              <td>{{ evento[0] }}</td>
              <td>{{ evento[1] }}</td>
              <td>{{ evento[2] }}</td>
              <td>{{ evento[3] }}</td>
                <td>
                    <a href="{{ url_for('editar_evento', data_evento=evento[3]) }}">Editar</a>
                    <a href="{{ url_for('deletar_evento', horario_evento=evento[4]) }}">Deletar</a>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}