{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <form action="{{ url_for('novo_pagamento') }}" method="POST" class="w-50 p-4 border rounded">
        <h1 class="text-center mb-4">Novo pagamento</h1>
        <div class="form-group mb-3">
            <label for="forma">Forma de pagamento</label>
            <select class="form-control" id="forma_pagto" name="forma_pagto" required>
                <option value="" disabled selected>Selecione a forma de pagamento</option>
                <option value="Cartão">Cartão</option>
                <option value="Dinheiro">Dinheiro</option>
            </select>
        </div>  
        <div class="form-group mb-3">
            <label for="parcelas">Quantidade de parcelas</label>
            <select class="form-control" id="qtd_parcelas" name="qtd_parcelas" required>
                <option value="" disabled selected>Selecione a quantidade de parcelas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="evento">Evento</label>
            <select name="evento" class="form-select" id="evento">
                <option selected disabled>Selecione um evento</option>
                {% for evento in eventos %}
                <option value="{{ evento[0] }},{{ evento[1] }}">{{ evento[2] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="valor">Valor total</label>
            <input type="number" class="form-control" id="valor" name="valor" required>
        </div>
        <div class="form-group mb-3">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" name="data" required>
        </div>
        <div class="d-flex justify-content-between">
            <a href="{{ url_for('pagamentos_admin') }}" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}