{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Kits mobília</h1>
<div class="container d-flex flex-column align-items-center">
    <div class="w-100 d-flex justify-content-end mb-3">
        <a href="{{ url_for('novo_kit_mobilia') }}" class="btn btn-primary">Novo kit mobília</a>
    </div>
    <table class="table table">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Quantidade</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for kit_mobilia in kits_mobilia %}
          <tr>
              <td class="text-center">{{ kit_mobilia[0] }}</td>
              <td class="text-center">{{ kit_mobilia[1] }}</td>
              <td class="text-center">
                  <form action="{{ url_for('deletar_kit_mobilia', id_mobilia=kit_mobilia[0]) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-3">
        <strong>Quantidade total: {{ total_quantidade }}</strong>
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm('Tem certeza que deseja excluir este kit mobília?');
    }
</script>

{% endblock %}