{% extends 'base.html' %}
{% block content %}

<div class="bg-img d-flex align-items-center justify-content-center min-vh-100">
  <div class="container d-flex flex-column align-items-center">


    <div class="card p-5" style="width: 80%;">
      <h1 class="text-center mb-5" style="font-size: 2.5rem;">Parceiros</h1>

    
      <div class="w-100 d-flex justify-content-end mb-3">
        <a href="{{ url_for('novo_parceiro') }}" class="btn btn-primary">Novo parceiro</a>
      </div>

  
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center" hidden>Id</th>
            <th scope="col" class="text-center" style="font-size: 1.2rem;">Nome</th>
            <th scope="col" class="text-center" style="font-size: 1.2rem;">Celular</th>
            <th scope="col" class="text-center" style="font-size: 1.2rem;">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for parceiro in parceiros %}
          <tr>
            <td class="text-center" hidden>{{ parceiro[0] }}</td>
            <td class="text-center" style="font-size: 1.1rem;">{{ parceiro[1] }}</td>
            <td class="text-center" style="font-size: 1.1rem;">{{ parceiro[2] }}</td>
            <td class="text-center">
              <a href="{{ url_for('editar_parceiro', id_parceiro=parceiro[0]) }}" class="btn btn-warning" style="font-size: 1rem;">Editar</a>
              <form action="{{ url_for('deletar_parceiro', id_parceiro=parceiro[0]) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                <button type="submit" class="btn btn-danger" style="font-size: 1rem;">Excluir</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    
  </div>
</div>

<script>
  function confirmDelete() {
    return confirm('Tem certeza que deseja excluir este parceiro?');
  }
</script>

{% endblock %}
