{% extends 'base.html' %}

{% block content %}
<div class="bg-img min-vh-100">
    <h1 class="dashboard">Dashboard</h1>
    <div id="calendar"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        // Certifique-se de que 'eventos' está corretamente renderizado como um JSON válido
        var eventos = JSON.parse('{{ eventos | tojson | safe }}');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: eventos
        });
        calendar.render();
    });
</script>

{% endblock %}