{% extends "base.html" %}

{% block content %}
<h1>Dashboard {{ session.nome_cliente }}</h1>

<div class="container">
    <div class="row">
        {% for data, eventos in calendario.items() %}
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    {{ data }}
                </div>
                <div class="card-body">
                    {% if eventos %}
                        <ul class="list-group list-group-flush">
                            {% for evento in eventos %}
                                <li class="list-group-item">{{ evento }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Nenhum evento marcado</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}