{% extends "base.html" %}

{% block content %}
<h1>Meus eventos</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Horário</th>
          </tr>
        </thead>
        <tbody>
          {% for evento in eventos %}
          <tr>
              <td>{{ evento[0] }}</td>
              <td>{{ evento[1] }}</td>
              <td>{{ evento[2] }}</td>
              <td>{{ evento[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}