{% extends 'base.html' %}

{% block content %}
<div class="bg-img d-flex align-items-center justify-content-center min-vh-100">
  <div class="w-100" style="max-width: 800px;">
    <!-- Inserir as mensagens flash aqui -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form class="bg-white p-4 border rounded shadow-sm register__form" method="POST" action="{{ url_for('cadastrar') }}">
      <fieldset>
        <h1 class="mb-4">Cadastro</h1>
        
        <div class="row">
          <!-- Coluna 1: Nome, CPF, Celular -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input type="text" class="form-control" placeholder="Nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input type="text" class="form-control" placeholder="CPF" name="cpf" id="cpf" required>
            </div>
            <div class="mb-3">
              <label for="celular" class="form-label">Celular:</label>
              <input type="text" class="form-control" placeholder="Celular" name="celular" id="celular" required>
            </div>
          </div>

          <!-- Coluna 2: Endereço, Senha, Confirmar Senha -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="endereco" class="form-label">Endereço:</label>
              <input type="text" class="form-control" placeholder="Endereço" name="endereco" required>
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha:</label>
              <input type="password" class="form-control" placeholder="Senha" name="senha" required>
            </div>
            <div class="mb-3">
              <label for="confirmar_senha" class="form-label">Confirmar Senha:</label>
              <input type="password" class="form-control" placeholder="Confirmar Senha" name="confirmar_senha" required>
            </div>
          </div>
        </div>

        <div class="btn-cadastre d-flex justify-content-between align-items-center">
          <a href="javascript:history.back()" class="btn btn-link">Voltar</a>
          <button type="submit" class="btn btn-login rounded">Cadastrar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script>
  document.getElementById('cpf').addEventListener('input', formatCPF);
  document.getElementById('celular').addEventListener('input', formatCelular);
  
  function formatCPF(event) {
      const input = event.target;
      let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
      value = value.substring(0, 11); // Limit to 11 digits
  
      // Format the value as CPF
      if (value.length > 9) {
          value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
      } else if (value.length > 6) {
          value = value.replace(/(\d{3})(\d{3})(\d{3})/, '$1.$2.$3');
      } else if (value.length > 3) {
          value = value.replace(/(\d{3})(\d{3})/, '$1.$2');
      }
  
      input.value = value;
  }
  
  function formatCelular(event) {
      const input = event.target;
      let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
      value = value.substring(0, 11); // Limit to 11 digits
  
      // Format the value as Celular
      if (value.length > 6) {
          value = value.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
      } else if (value.length > 2) {
          value = value.replace(/(\d{2})(\d{5})/, '($1) $2');
      }
  
      input.value = value;
  }
  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}