{% extends "base.html" %}
{% block content %}
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="border p-4" style="width: 100%; max-width: 600px;">
            <h1 class="text-center">Alugar mobília</h1>
            <form method="POST" action="{{ url_for('nova_mobilia_cliente') }}">
                <div class="form-group mb-3">
                    <label for="tipo_mobilia">Escolha o tipo:</label>
                    <select class="form-control" id="tipo_mobilia" name="tipo_mobilia" required>
                        <option value="" disabled selected>Selecione um tipo</option>
                        {% for mobilia in mobilias %}
                        <option value="{{ mobilia[0] }}">{{ mobilia[0] }} (Disponível: {{ mobilia[1] }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="qtd_alugada">Quantidade:</label>
                    <input type="number" class="form-control" id="qtd_alugada" name="qtd_alugada" required>
                </div>
                <div class="form-group mb-3">
                    <label for="data_aluguel">Data do aluguel:</label>
                    <input type="date" class="form-control" id="data_aluguel" name="data_aluguel" readonly>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('mobilias_cliente') }}" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Alugar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('data_aluguel').valueAsDate = new Date();
    </script>
</body>
</html>
{% endblock %}