{% extends 'base.html' %}
{% block content %}
<div class="bg-img d-flex align-items-center justify-content-center min-vh-100">
    <div class="container d-flex flex-column align-items-center mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="w-100 mb-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="card p-4 shadow" style="width: 90%; max-width: 1200px;">
            <h1 class="text-center mb-4">Meus aluguéis de mobília</h1>
            <div class="d-flex justify-content-end mb-4">
                <form action="{{ url_for('nova_mobilia_cliente') }}" method="GET">
                    <button type="submit" class="btn btn-primary">Alugar mobília</button>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Tipo</th>
                            <th scope="col" class="text-center">Quantidade</th>
                            <th scope="col" class="text-center">Valor total</th>
                            <th scope="col" class="text-center">Data</th>
                            <th scope="col" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mobilia in mobilias_cliente %}
                        <tr>
                            <td class="text-center">{{ mobilia[1] }}</td>
                            <td class="text-center">{{ mobilia[2] }}</td>
                            <td class="text-center">{{ mobilia[3] }}</td>
                            <td class="text-center">{{ mobilia[4] | datetime('%d/%m/%Y')}}</td>
                            <td class="text-center">
                                <form action="{{ url_for('excluir_mobilia_cliente', tipo_mobilia=mobilia[0]) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja devolver esta(s) mobília(s)?');">
                                    <button type="submit" class="btn btn-danger">Cancelar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}