{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Contate nossos parceiros</h1>
<div class="container d-flex flex-column align-items-center">
    <table class="table table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Celular</th>
          </tr>
        </thead>
        <tbody>
          {% for parceiro in parceiros %}
          <tr>
              <td class="text-center">{{ parceiro[1] }}</td>
              <td class="text-center">{{ parceiro[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
   